////////////////////////////
// 1) - Fonts
//
$baseFont: "ArbFONTS";

$font: (
  family: "",
  weight: ":wght@200",
  addWeight: (),
  sizes: (
    16: 1.6rem,
    18: 1.8rem,
    22: 2.2rem,
    30: 3rem,
    40: 4rem,
  ),
);

//
$customFont: (
  status: true,
  name: $baseFont,
  src: "../fonts/ArbFONTS/",
  weights: (
    bold: (
      ext: "Bold.ttf",
      weight: 900,
    ),
    medium: (
      ext: "Light.ttf",
      weight: 400,
    ),
  ),
);

// Choose color text
// Ex => first-color second-color ..etc if null will render all themes
$chooseColorText: ();

// Container
$container-max-widths: (
  xl: 117.4rem,
);

////////////////////////////
// Other
// Prorperty Change Scroll Bar
$colorTrack: var(--bs-mine);
$colorThumb: var(--bs-equator);
$widthTrack: 5px;

// Change Color Selection
$colorSelection: var(--bs-equator);
