// NAVBAR
.navbar {
  @extend .row, .align-items-center, .justify-content-between, .py-10, .px-5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;

  //
  &__items {
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.57, 0.96);

    //
    @include BreakPoint(md) {
      position: fixed;
      min-height: 100vh;
      width: 25rem !important;
      top: 0;
      right: 0;
      background-color: var(--bs-mine);
      transform: translateX(100%);
    }

    &--active {
      transform: translateX(0);
      z-index: 20;
    }

    //
    & li {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      padding: 0 1rem;

      //
      span {
        margin: 0 5px;
        white-space: nowrap;
        color: var(--bs-light);
        transition: color 0.5s ease;
        @extend .text-16;

        @include DetectHover {
          &:hover {
            color: var(--bs-equator);
          }
        }
      }
    }
  }
}

// HEADER
.header {
  height: 100%;
  overflow: hidden;
  @extend .text-light;

  > div,
  &__content {
    height: inherit;
  }
  //
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    //
    img {
      @extend .resize-img;
    }
    //
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(to right, rgba(black, 1), rgba(black, 0.8));
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  //
  &__content {
    @extend .flex-column,
      .flex-sm-row,
      .align-items-center,
      .justify-content-end;

    //
    &__info {
      @media only screen and (max-width: 768px) {
        text-align: center;
      }

      //
      h1 {
        @extend .text-40, .text-equator, .mb-40;
        font-weight: 900;
      }

      p {
        @extend .text-16, .col-md-9;
      }
    }

    //
    &__images {
      @extend .position-relative,
        .d-flex,
        .justify-content-center,
        .justify-content-sm-end,
        .overflow-hidden,
        .align-self-end;

      @include BreakPoint(sm) {
        height: 40vh;
      }

      & img {
        max-width: 22vw;
        max-height: 90vh;
        object-fit: contain;

        @include BreakPoint(lg) {
          max-width: 30vw;
        }
      }
      //
      & img:nth-of-type(1) {
        transform: translate(-12vw, 25rem);

        @include BreakPoint(sm) {
          transform: translate(-2rem, 10rem);
        }
      }
      //
      & img:nth-of-type(2) {
        transform: translateY(10rem);
        z-index: -1;

        @include BreakPoint(sm) {
          transform: translateY(5rem);
        }
      }
    }
  }
}

// FOOTER
.footer {
  padding: 8rem 0 1rem 0;
  @extend .bg-dark;
  text-align: center;

  @media only screen and (max-width: 768px) {
    padding: 4rem 0 0.2rem 0;
  }

  p {
    @extend .text-light, .text-16;
    margin-top: 2.5rem;

    @media only screen and (max-width: 768px) {
      margin-top: 1.5rem;
    }
  }

  //
  &__social-media {
    margin-top: 2.5rem;
    a {
      @extend .d-flex, .align-items-center, .justify-content-center;

      &:not(:last-child) {
        @extend .me-10;
      }

      background-color: lighten($codGray, 1%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: background-color 0.5s ease;

      svg {
        transition: fill 0.5s ease;
        fill: var(--bs-light);
      }

      @include DetectHover {
        &:hover {
          background-color: var(--bs-equator);
        }
        &:hover {
          svg {
            fill: lighten($codGray, 1%);
          }
        }
      }
    }
  }

  //
  &__copyright {
    margin-top: 5rem;
    border-top: 1px solid var(--bs-mine);

    &__wrapper {
      @extend .d-flex,
        .flex-column,
        .flex-md-row,
        .align-items-center,
        .justify-content-between;
    }

    p:nth-child(1) {
      direction: ltr;

      span {
        color: var(--bs-equator);
      }
    }
  }
}

// BACKDROP
.backdrop {
  position: fixed;
  background-color: rgba(black, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}
